<header>
    <nav class="navegation">
        <div class="navegation__nav-icon"  (click)="toggleMenu($event)">
               {{title}}
               <i class="bi bi-list showOnMobile"></i>
        </div>
        <ul [class.show]="menuOpen" class="navegation__nav-links">
            <li><a [routerLink]="[]" (click)="externalNavigation($event, 'https://bannerpreview-1.netlify.app/')">Banner 1</a></li>
            <li><a [routerLink]="[]" (click)="externalNavigation($event, 'https://bannerpreview-2.netlify.app/')">Banner 2</a></li>
            <li><a [routerLink]="[]" (click)="externalNavigation($event, 'https://bannerpreview-3.netlify.app/')">Banner 3</a></li>

        </ul>
    </nav>
</header>

<router-outlet />